body {
    background-color: #f9f7f7;
}

span {
    display: block;
    text-align: right;
}

.header-user-info {
    background-color: #424242;
    color: white;
    padding: 15px 10px 0px 10px;
}

.left-nav-block {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    height: 100vh;
    /*position: fixed;*/
    margin-bottom: -25px;
}

.info-panel {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.tab-content-correct {
    border: 1px solid #e0e0e0;
    background-color: white;
}

.nav-tab-text-block {
    background-color: #f2f2f2;
    margin: -20px -20px;
    padding: 12px 20px 12px 20px;
}

.form-group-correct{
    margin-top: 20px;
}

.form-outline-correct{
    margin-top: 20px;
}

.custom-select-correct{
    min-width: 30%;
}

.form-control-modal {
    width: 50%;
    margin-bottom: 15px;
}

.card-correct {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body-correct{
    padding: 15px 15px 30px 15px;
}

.col-md-12-correct {
    padding-left: 0px;
    padding-right: 0px;
}

.tab-panel-content-correct {
    width: 100%;
    padding: 20px 30px 20px 30px;
}